version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    groups:
      kotlin:
        patterns: ["org.jetbrains.kotlin*", "org.jetbrains.kotlinx*"]
      compose:
        patterns: ["org.jetbrains.compose*", "androidx.compose*"]
      koin:
        patterns: ["io.insert-koin*"]
